[submodule "php5_apache_mysql5_enabled"]
	path = php5_apache_mysql5_enabled
	url = git@github.com:BjoernLudwigPTB/php5_apache_mysql5_enabled.git
[submodule "nginx"]
	path = nginx
	url = git@github.com:BjoernLudwigPTB/docker_nginx.git
